@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using System.Web.Mvc.Html
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers


@{
    var home = (Home)Model.Root();
    var loginStatusModel = Members.GetCurrentLoginStatus();
    var logoutModel = new PostRedirectModel();
    var register = (RegisterMember)home.Children.FirstOrDefault(c => c.ContentType.Alias == "registerMember");
    var login = (LoginMember)home.Children.FirstOrDefault(c => c.ContentType.Alias == "loginMember");

    @*
        Here you can specify a redirect URL for after logging out, by default umbraco will simply
        redirect to the current page. Example to redirect to the home page:

        logoutModel.RedirectUrl = "/";
    *@
}

@if (loginStatusModel.IsLoggedIn)
{
    <p>Xin chào, @loginStatusModel.Name</p>

    using (Html.BeginUmbracoForm<UmbLoginStatusController>("HandleLogout"))
    {
        <fieldset>
            <button>Logout</button>
        </fieldset>

        @Html.HiddenFor(m => logoutModel.RedirectUrl)
    }

}