body{
    overflow-x:hidden;
}

/*MENU HEADER*/
/*==========================================================*/
#header .top_header .menu_top {

    display: flex;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
    height: 48px;
    -webkit-box-align: center;
    padding-top: 1.1rem;
    font-size: .8rem;
}
#header .top_header .logo{
    margin-left: 30px;
}
    #header .top_header .menu_top li {
        list-style-type: none;
    }

    #header .top_header .menu_top .signup {
        font-weight: 500;
    }
    #header .top_header .menu_top li a {
        display: inline-block;
        margin-right: 2rem;
        font-weight: 600;
        color: black;
        border: 1px solid transparent;
        padding: .5rem;
        border-radius: 26px;
        text-decoration: none;
    }

        #header .top_header .menu_top li a:hover {
            background-color: #f5f5f5;
        }

    #header .top_header .menu_top li:first-child a {
        color: #bf0a30;
    }

        #header .top_header .menu_top li:first-child a:hover {
            border-radius: unset;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;          
        }
#header .top_header .menu_top li:nth-last-child(-n+2) a {
    text-align: center;
    letter-spacing: 0.7px;
    background-color: #aa96da;
    border: 1px solid #aa96da;
    border-radius: 26px;
    font-weight: 500;
    color: #fff;
}
        #header .top_header .menu_top li:nth-last-child(-n+2) a:hover{
            background-color: darkviolet;
            border-color: darkviolet;
        }

#header .top_header .menu_top .box-language {
    left: 0;
    bottom: 30px
}

    #header .top_header .menu_top .box-language .dropdown-menu{
        min-width: unset;
        padding:unset;
        border: none;
    }

    #header .top_header .menu_top .box-language .dropdown-toggle {
        color: red !important
    }

        #header .top_header .menu_top .box-language .dropdown-toggle span {
            margin-right: 5px
        }

        #header .top_header .menu_top .box-language .dropdown-toggle i {
            color: #fff !important
        }

        #header .top_header .menu_top .box-language .dropdown-toggle:after {
            display: none
        }
    #header .top_header .menu_top .box-language .dropdown-menu .dropdown-item {
        background-color: #f5f5f5 !important;
        border: #f5f5f5;
        border-radius: unset;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        color: #000000;
    }

        #header .top_header .menu_top .box-language .dropdown-menu .dropdown-item span {
            margin-right: 5px;
            margin-left: -12px;
        }

        #header .top_header .menu_top .box-language .dropdown-menu .dropdown-item:hover {
            background: 0 0;
            opacity: .5
        }

    #header .top_header .menu_top .box-language a {
        color: #fff
    }

    #header .top_header .menu_top .box-language .dropdown-menu li {
        height: 35px;
        line-height: 1;
    }

        #header .top_header .menu_top .box-language .dropdown-menu li a {
            font-size: 1rem;
        }

    #header .top_header .menu_top .box-language .dropdown-item:focus,
    #header .top_header .menu_top .box-language .dropdown-item:hover {
        background-color: #000;
        color: #fff
    }

    #header .top_header .menu_top .box-language .dropdown-toggle::after {
        content: unset !important
    }

#header .top_header-row {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#header .menu_header .main_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}

    #header .menu_header .main_menu li {
        position: relative;
        list-style-type: none;
    }

        #header .menu_header .main_menu li a {
            display: inline-block;
            border: 1px solid transparent;
            border-radius: 26px;
            padding: .5rem;
            text-decoration: none;
            color: black
        }

        #header .menu_header .main_menu li .sub_menu a:hover {
            border-radius: unset;
            color: darkviolet;
            /*            background-color: rgba(0, 0, 0, 0.2)
*/
        }


        #header .menu_header .main_menu li .sub_menu {
            list-style: none;
            padding: 0;
            position: absolute;
            top: 100%;
            width: 200px;
            background: #fff;
            box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
            opacity: 0;
            margin-top: 15px;
            visibility: hidden;
            z-index: 9;
            left: 0;
            border-radius: 10px;
        }

            #header .menu_header .main_menu li .sub_menu:before {
                content: "";
                position: absolute;
                top: -7px;
                left: 15px;
                width: 0;
                height: 0;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid #fff;
            }

            #header .menu_header .main_menu li .sub_menu > li > a {
                display: block;
                padding: .5rem 1rem;
                text-transform: capitalize;
       
            }

    #header .menu_header .main_menu > li {
        padding: 1rem;
    }

        #header .menu_header .main_menu > li:last-child {
            padding: 0;
        }

            #header .menu_header .main_menu > li:last-child > a {
              
                padding: 0.25rem 1.5rem;
                font-weight: normal;
            }

                #header .menu_header .main_menu > li:last-child > a:hover {
                }

        #header .menu_header .main_menu > li:hover > a {
            background-color: #f5f5f5;
        }

        #header .menu_header .main_menu > li:hover .sub_menu {
            visibility: visible;
            margin-top: 0;
            opacity: 1;
            transition: all .5s ease;
        }

        #header .menu_header .main_menu > li > a {
            font-weight: bold;
            font-size: 15px;
        }





/*BANNER HOME*/
/*======================================================================*/
/*#banner_home:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 61%;
    background: rgba(0,0,0,.3)
}*/
#banner_home .home_bannerimage img {
    width: 100%;
    height: 500px;
}
#banner_home .box_content {
    position: absolute;
    top: 40%;
    left: 22%;
    z-index: 1
}


#banner_home .home_searching {
    display: flex;
    padding: 10px;
    flex-direction: row;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
    #banner_home .home_searching i {
        position: absolute;
        padding: 20px 0 0 9px;
        font-size: 25px;
    }

    #banner_home .home_searching input {
        padding: 20px 40px;
        -webkit-border-top-left-radius: 25px;
        -webkit-border-bottom-left-radius: 25px;
        -moz-border-radius-topleft: 25px;
        -moz-border-radius-bottomleft: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        box-shadow: none;
        border: none;
        box-shadow: 2px 4px 6px rgb(0 0 0 / 19%);
        flex: 1;
        background:#ffffff;
        border-bottom: unset !important;
        height: unset;
    }

    #banner_home .home_searching button {
        padding-right: 10px;
        background-color: #fff;
        -webkit-border-top-right-radius: 25px;
        -webkit-border-bottom-right-radius: 25px;
        -webkit-border-top-left-radius: unset;
        -webkit-border-bottom-left-radius: unset;
        -moz-border-radius-topright: 25px;
        -moz-border-radius-bottomright: 25px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        box-shadow: 5px 4px 6px rgb(0 0 0 / 19%);
        border: none;
        cursor: pointer;
    }

    #banner_home .home_searching span {
        margin-left: 50px;
        padding: 12px 40px;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        background-color: #aa96da;
        border-radius: 20px;
        box-shadow: 2px 4px 6px rgb(0 0 0 / 19%);
    }

    #banner_home .home_searching input::placeholder{
        color: #000000 !important;
    }

#banner_home .home_bannerimage .slick-arrow {
    width: 100px;
    height: 50px;
    background: url('/images/white-left-arrow.png') left no-repeat;
    text-indent: -9999em;
    overflow: hidden;
    z-index: 99;
    background-position: center;
}

#banner_home .home_bannerimage .slick-arrow.slick-prev:before {
    content: none;
}

#banner_home .home_bannerimage .slick-arrow.slick-next {
    transform: rotate(180deg);
    top: 225px;
}

    #banner_home .home_bannerimage .slick-arrow.slick-next:before {
        content: none;
    }


    /*BANNER ADVERTISEMENT*/
    #banner_ads {
        padding-top: 20px;
        background-color: #f5f5f5;
    }

    #banner_ads .banner_title {
        text-align: center;
    }

        #banner_ads .banner_advertisement .slick-slider img {
            width: 100%;
            height: 150px;
            object-position: center;
            object-fit: cover;
        }
#banner_ads .banner_advertisement .slick-arrow {
    width: 50px;
    height: 50px;
    background: url('/images/Mask Group 10.png') left no-repeat white;
    text-indent: -9999em;
    overflow: hidden;
    z-index: 99;
    border-radius: 50%;
    background-position: center;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    background-size: 20px;
}

    #banner_ads .banner_advertisement .slick-arrow.slick-prev:before {
        content: none;
    }

    #banner_ads .banner_advertisement .slick-arrow.slick-next {
        transform: rotate(180deg);
        top: 50px;
    }

        #banner_ads .banner_advertisement .slick-arrow.slick-next:before {
            content: none;
        }




    /*FAMOUS PLACE*/
    /*=================================================================*/
    #famous_place {
        background-color: #f5f5f5;
    }
    #famous_place .famous_place-title {
        padding: 30px 100px 10px;
    }
#famous_place .famous_place-item {
    position: relative;
    margin-bottom: 2rem;
}

    #famous_place .famous_place-item:hover .famous_place-item_img a img {
        transform: scale(1.3);
    }

    #famous_place .famous_place-item:hover .famous_place-item_title a {
        color: #fff;
    }

    #famous_place .famous_place-item .famous_place-item_img {
        line-height: 0;
    }

        #famous_place .famous_place-item .famous_place-item_img a {
            display: block;
            overflow: hidden;
        }

            #famous_place .famous_place-item .famous_place-item_img a img {
                width: 100%;
                transition: all .35s;
                height: 230px;
            }

    #famous_place .famous_place-item .famous_place-item_title {
        position: absolute;
        left: 0;
        top: 87%;
        transform: translateY(-50%);
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
        text-transform: capitalize;
    }

        #famous_place .famous_place-item .famous_place-item_title a {
            display: block;
            color: #fff;
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
            text-decoration: none;
        }


/*NEWS*/
/*==================================================*/
.image {
    width: 100%;
    height: 220px;
    margin: 0 0 16px;
    margin-top: 40px;
}

.image-pin {
    width: 100%;
    height: 488px;
    object-fit: cover;
}

.news_title {
    font-size: 24px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: left;
    color: #840484;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}


    .news_title a {
        color: #840484;
        text-decoration: none;
    }

    .news_title a:hover {
        color: darkviolet;
    }

.news_shortcontents {
    height: 68px;
    font-family: 'Taviraj-Regular';
    font-size: 16px;
    color: #211a0f;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    margin-top: 10px;
}

.news_list {
    font-family: Taviraj-SemiBold;
}

  

    .news_list a {
        display: inline-block;
        color: #211a0f;
        border: solid 1px rgba(51, 51, 51, 0.5);
        margin-top: 2rem;
        padding: 7px 15px 7px 15px;
        text-decoration:none;
    }
        .news_list a:hover {
            background-color: darkviolet;
            border-color: #fff;
            color: #fff;
        }




/*NEWS*/
#news .breadcrumb {
    margin-top: 30px;
    margin-left: 50px;
}
.pagination {
    display: flex;
    list-style: none;
    border-radius: .25rem;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-top: 100px;
}



.news_trans {
    font-family: 'Bon Foyage';
    font-size: 80px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #211a0f;
    margin-top: -50px;
    padding-top: 100px;
}



.page-item .page-link {
    color: #988366;
}

.page-item.active .page-link {
    background-color: #aa96da;
    border-color: #aa96da;
}



/*newsItem*/
.news_detail_title {
    font-family: 'Taviraj-Medium';
    position: relative;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    line-height: 1.3;
    letter-spacing: normal;
    color: #211a0f;
    max-width: 750px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

article .createdDate {
    width: 588px;
    margin: 0 auto;
    padding-bottom: 40px;
}



.createdDate {
    font-family: 'Taviraj-Regular';
    font-size: 14px;
    color: #211a0f;
    margin-bottom: 2.25rem;
    letter-spacing: normal;
    text-align: center;
}


.content_detail {
    font-family: Taviraj-Regular;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 1.33;
    text-align: justify;
    color: #211a0f;
}

#work {
    padding-top: 20px
}

#news section-title {
    padding-bottom: 10px;
    padding-top: 80px;
}

#contact {
    padding-top: 30px;
}

    #contact .section-title {
        margin-bottom: -50px
    }



article p img,
.new-image {
    object-fit: contain;
    height: auto;
    width: 792px;
    max-width: 100%;
    margin: auto;
    display: block;
    padding-top: 40px;
    padding-bottom: 40px
}

.shortConten {
    font-family: Taviraj-Regular;
    font-size: 18px;
    letter-spacing: normal;
    line-height: 1.33;
    text-align: justify;
    color: #211a0f;
    padding-bottom: 20px
}


.error-msg {
    color: #EE0000;
    margin-bottom: 1rem;
}

.breadcrums,
.breadcrum {
    padding-top: 76px;
    text-align: left;
}

    .breadcrums p,
    .breadcrum p {
        font-weight: 600;
        font-size: 16px;
        font-family: Taviraj-Regular;
        text-align: left;
    }

.breadcrums {
    padding-bottom: 40px;
}

.breadcrum p {
    width: 100%;
}

.breadcrums p {
    width: 100%
}

.news_image a img,
.news_item .image_news_xt img {
    object-fit: cover;
    object-position: 50% 20%;
}
.news_item_first .news_title {
    margin-top: 20px;
}



/*
.blog_page {
    padding: 3rem 0
}*/

    .blog_page .item_blog {
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #002868
    }

        .blog_page .item_blog .name_blog {
            text-transform: capitalize;
            font-size: 20px;
        }

            .blog_page .item_blog .name_blog a {
                display: inline-block;
                color: #840484;
                text-decoration: none;
            }

                .blog_page .item_blog .name_blog a:hover {
                    color: darkviolet
                }

        .blog_page .item_blog .time_create {
            font-style: italic;
            font-family: Merriweather-Regular;
            font-size: 12px;
        }

        .blog_page .item_blog .float .avatar_blog {
              float: left;
            margin-right: 20px;
            width: 20%;
            height: auto;
       /*     display: block;
            margin-left: auto;
            margin-right: auto;*/
        }

        .blog_page .item_blog .read_more {
            text-transform: capitalize;
            text-align: right;
            font-size: 1rem;
        }

            .blog_page .item_blog .read_more a {
                color: #840484;
                text-decoration: none;
            }

                .blog_page .item_blog .read_more a:hover {
                    color: darkviolet
                }

                .blog_page .item_blog .read_more a span:last-child {
                    line-height: 0
                }

                .blog_page .item_blog .read_more a img {
                    margin-left: 1rem;
                    width: 23px
                }

        .blog_page .item_blog .summary_blog {
            margin-top: 1.5rem;
            margin-bottom: 1rem;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 6;
        }

    .blog_page .blog_detail .name_blog {
        text-transform: capitalize
    }

        .blog_page .blog_detail .name_blog a {
            display: inline-block;
            color: #840484;
            text-decoration: none;

        }

            .blog_page .blog_detail .name_blog a:hover {
                color: darkviolet
            }

    .blog_page .blog_detail .time_create {
        margin-bottom: 20px;
        font-style: italic
    }

    .blog_page .blog_detail .content_detail img {
        max-width: 100%;
        margin: 0 auto
    }

    .blog_page .blog_detail .content_detail h2 {
        font-size: 1.4rem;
    }

    .blog_page .blog_detail .content_detail a {
        color: #002868
    }

        .blog_page .blog_detail .content_detail a:hover {
            color: #bf0a30
        }

    .blog_page .blog_detail .content_detail iframe {
        width: 100% !important
    }

    .blog_page .blog_detail .content_detail ol, .blog_page .blog_detail .content_detail ul {
        padding: 0 1rem;
        margin: 0
    }

    /*popular*/

    .blog_page .item_blog_popular {
        margin-bottom: 1rem;
        border-bottom: 1px solid #002868;
    }

        .blog_page .item_blog_popular .name_blog_popular {
            text-transform: capitalize;
            font-size: 17px;
        }

            .blog_page .item_blog_popular .name_blog_popular a {
                display: inline-block;
                color: #840484;
                text-decoration: none;

            }

                .blog_page .item_blog_popular .name_blog_popular a:hover {
                    color: darkviolet
                }

        .blog_page .item_blog_popular .time_create_popular {
            font-style: italic;
            font-size: 12px;
        }

        .blog_page .item_blog_popular .float .avatar_blog_popular {
            float: left;
            margin-right: 20px;
            width: 50%;
        }

        .blog_page .item_blog_popular .float .summary_blog_popular {
            margin-bottom: 1rem;
            font-size: 15px;
              overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }



/*FAQs*/
#about_us .list_faqs {
    margin-bottom: 2rem;
}

    #about_us .list_faqs .item_faq {
        margin-bottom: 1.25rem;
    }

        #about_us .list_faqs .item_faq:last-child {
            margin-bottom: 0rem;
        }

        #about_us .list_faqs .item_faq .title_faq {
            padding-right: 3rem;
            position: relative;
            cursor: pointer;
            position: relative;
            line-height: 1.33;
        }

      #about_us .about_title{
          text-align: center;
          padding-top: 30px;
      }

#about_us .list_faqs .item_faq .title_faq .icon_faq {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}

    #about_us .list_faqs .item_faq .title_faq .icon_faq img {
        width: 20px;
        margin-top: 4px;
    }

    #about_us .list_faqs .item_faq .title_faq .icon_faq .close {
        display: none;
    }

        #about_us .list_faqs .item_faq .active_title {
            color: #cb00d4;
        }

#about_us .list_faqs .item_faq .active_faq .open {
    display: none;
}

#about_us .list_faqs .item_faq .active_faq .close {
    display: inline-block !important;
}

#about_us .list_faqs .item_faq .content {
    display: none;
    padding-top: 1rem;
}

#about_us {
    padding: 30px 0;
}

    #about_us .about_content {
        margin-bottom: 2rem;
    }

        #about_us .about_content h2 {
            font-size: 36px;
            margin-bottom: 1rem;
            color: #002868;
        }

        #about_us .about_content img {
            max-width: 100%;
            margin: 0 auto;
        }

        #about_us .about_content a {
            color: #002868;
        }

            #about_us .about_content a:hover {
                color: #bf0a30;
            }

        #about_us .about_content ul li a {
            color: #002868;
        }

            #about_us .about_content ul li a:hover {
                color: #bf0a30;
            }
#about_us_bot .contact_us_link{
    text-align: center;
}
#about_us_bot .contact_us_link a {
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    background-color: #aa96da;
    border: solid 1px #aa96da;
    width: 221px;
    height: 52px;
    padding: 15px;
    text-decoration: none;
}
    #about_us_bot .contact_us_link i{
        margin-right: 10px;
    }

    .breadcrumb_faq .box_content {
        position: absolute;
        top: 40%;
        left: 15%;
        z-index: 1
    }

    .breadcrumb_faq .box_content .text_title {
        color: #fff;
    }

/*CONTACT*/
#contact .section-title .title-bottom {
    font-family: 'Taviraj';
    font-weight: 500;
    color: #333333;
    line-height: 3.0;
}
.icon-contact {
    display: flex;
    margin-top: 30px;
    font-family: 'Taviraj';
    font-size: 20px;
    font-weight: 500;
    color: #333333;
    min-height: 446px;
    line-height: 3.0;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.icon-contact-child a {
    text-decoration: none;
}

    .icon-contact-child span {
        margin-left: 20px;
        font-family: Taviraj-Medium;
        font-size: 25px;
        font-weight: 600;
        color: #aa96da;
    }
        .icon-contact-child span:hover{
            color: darkviolet;
        }

        @media (max-width: 575px) {
            .icon-contact-child span {
        font-size: 18px;
    }
}

/*@media (min-width: 991px) {
    .icon-contact-child span:hover {
        color: #f8c59a;
    }
}*/




.form-contact {
    margin-top: 60px;
}

form input {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    border: unset;
    border-bottom: #5555551a solid 1px !important;
    height: 60px;
    background: #5555551a;
    width: 90%;
}

form textarea {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    border: unset;
    border-bottom: #5555551a solid 1px !important;
    height: 120px;
    resize: none;
    background: #5555551a;
    width: 90%;
}

textarea#message {
    padding-top: 22px;
}

form textarea:focus {
    border: unset;
    outline: none;
}

form input:focus {
    border: unset;
    outline: none;
}

::placeholder {
    color: darkviolet !important;
    font-size: 16px;
    font-weight: 500;
    margin-top: 10px;
    padding-left: 10px;
}

.animated {
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #333333;
    background-color: #aa96da;
    border-radius: 26px;
    border: solid 1px #aa96da;
    width: 221px;
    height: 52px;
    margin-top: 36px;
}

@media (max-width: 767px) {
    .animated {
        width: 60% !important;
    }
}

.animated i {
    color: #333333;
    margin-right: 10px;
}

button:disabled,
.animated.disabled {
    opacity: .5;
    cursor: not-allowed
}

/*FOOTER*/
.footer {
    padding-top: 50px;
}

    .footer .top_footer .footer_menu {
        list-style-type: none;
    }

        .footer .top_footer .footer_menu li a {
            text-decoration: none;
            color: #ffffff;
        }
    .footer .top_footer .follow_us p {
        font-size: 15px;
        color: #ffffff;
    }
    .footer .top_footer .follow_us .follow_us_icon {
        display: flex;
        list-style: none;
        font-size: 20px;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: space-evenly;
        margin-left: -40px;
    }
        .footer .top_footer .follow_us .follow_us_icon i {
            border-radius: 50%;
            border: 1px solid #fff;
            background-color: darkviolet;
            width: 2rem;
            height: 2rem;
            text-align: center;
            padding: .4rem 0;
            color: #fff;
        }
         




            /*BACK TO TOP*/
            #button {
                display: inline-block;
                background-color: #FF9800;
                width: 50px;
                height: 50px;
                text-align: center;
                border-radius: 4px;
                position: fixed;
                bottom: 20px;
                right: 15px;
                transition: background-color .3s, opacity .5s, visibility .5s;
                opacity: 0;
                visibility: hidden;
                z-index: 1000;
            }

    #button::after {
        content: " ";
        line-height: 50px;
    }

    #button:hover {
        cursor: pointer;
        background-color: #333;
    }

    #button:active {
        background-color: #555;
    }

    #button.show {
        opacity: 1;
        visibility: visible;
    }

    #button i {
        font-size: 25px;
        color: #fff;
        text-align: center;
        padding-top: 13px;
    }

    /*PARTNER*/
.partners .item_partner{
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
    .partners .item_partner:hover {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }


    /*SHOWTOURS*/
#showtours {
    background-color: #eceff3;
    padding-top: 10px;
}
#showtours .card {
    display: flex;
    flex-direction: column;
    margin: 6px 3px 3px 3px;
    border-radius: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
    #showtours .card:hover {
        transition: 0.4s;
        margin-top: 3px;
        box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    }
    #showtours .card .card-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
    #showtours .card .card-content .news_info {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
        #showtours .card .card-content .news_title {
            font-size: 20px;
            padding: 0 5px;
            text-overflow: ellipsis;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
        }
        #showtours .card .card-content .news_startday {
            font-size: 12px;
            padding-left: 5px;
        }
            #showtours .card .card-content .news_startday i{
                margin-right: 3px;
            }
        #showtours .card .card-content .news_discount {
            margin-top: auto;
            color: #000;
            font-weight: 500;
            padding-left: 7px;
            text-decoration:line-through;
            font-size: 10px;
        }
            #showtours .card .card-content .news_price {
                margin-top: auto;
                color: red;
                font-weight: 600;
                padding-left: 7px;
            }
        #showtours .news_item .news_image .image {
            margin-top: unset;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            flex-shrink: 0;
        }
#showtours .slider-tours .slick-arrow {
    width: 50px;
    height: 50px;
    background: url('/images/Mask Group 10.png') left no-repeat white;
    text-indent: -9999em;
    overflow: hidden;
    z-index: 99;
    border-radius: 50%;
    background-position: center;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    background-size: 20px;
    top: 198px;
}
    #showtours .slider-tours .slick-arrow.slick-prev:before {
        content: none;
    }
            #showtours .slider-tours .slick-arrow.slick-next {
                transform: rotate(180deg);
                top: 173px;
            }
    #showtours .slider-tours .slick-arrow.slick-next:before{
        content: none;
    }
/*#showtours .card > .card-content {
    background: red;
    padding: 10px;
    text-align: center;
    font-size: 36px;
    height: 350px;
}*/


/*TOURITEMS*/
.breadcrumb .single_image_tours .slick-arrow {
    width: 50px;
    height: 50px;
    background: url('/images/Mask Group 10.png') left no-repeat white;
    text-indent: -9999em;
    overflow: hidden;
    z-index: 99;
    border-radius: 50%;
    background-position: center;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.2);
    background-size: 20px;
}

    .breadcrumb .single_image_tours .slick-arrow.slick-prev:before {
        content: none;
    }

    .breadcrumb .single_image_tours .slick-arrow.slick-next {
        transform: rotate(180deg);
        top: 205px;
    }

        .breadcrumb .single_image_tours .slick-arrow.slick-next:before {
            content: none;
        }
    .breadcrumb .single_image_tours .slick-dots {
        bottom: 0px;
    }
    .breadcrumb .tourItem_images img {
        width: 100%;
        height: 460px;
    }

    #toursItem .tourItem_title h3 {
        font-weight: 600;
        line-height: 40px;
        font-size: 32px;
    }
#toursItem .tourItem_subtitle {
    color: #4a4a4a;
    font-family: -apple-system;
    font-size: 17px;
    line-height: 20px
}
#toursItem .tourItem_services {
    border-top: 1px solid #eee;
}
    #toursItem .tourItem_services .tourItem_services_child {
        padding: 10px 0 0;
        padding-top: 18px;
        font-size: 14px;
        display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
    }
    #toursItem .tourItem_services .tourItem_services_child img {
        width: 22px;
    }
    #toursItem .tourItem_services .tourItem_services_child span {
        font-size: 12px;
        margin: 0px 34px 0px 12px;
    }

#toursItem .tourItem_contents .tourItem_contents_child {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 40px 0 0 16px;
    margin-bottom: 32px;
    font-weight: 700;
    color: #333;
    border-top: 1px solid #eee;
}
    #toursItem .tourItem_contents .tourItem_contents_child::after {
        content: "";
        position: absolute;
        left: 0;
        width: 5px;
        height: 22px;
        border-radius: 3px;
        background-color: #ff5722;
    }

    #toursItem .order_tours{
    }
        #toursItem .order_tours .order_tours_title {
            font-weight: 600;
            line-height: 40px;
            font-size: 32px;
        }

        #toursItem .order_tours .order_tours_startday {
            font-size: 15px;
        }

            #toursItem .order_tours .order_tours_startday input {
                width: 100%;
                border-bottom: unset !important;
                height: 40px;
            }

        #toursItem .order_tours .order_tours_price {
            padding-top: 15px;
        }

        #toursItem .order_tours .order_tours_numbertourist {
            padding-top: 10px;
        }
        #toursItem .order_tours .order_tours_numbertourist input{
            height: 40px;
        }

#toursItem .order_tours .input-group-btn {
    padding: 15px 0;
}



/*GROUP TOURS*/
#news .box_content {
    position: absolute;
    top: 50%;
    left: 22%;
    z-index: 1
}
