@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.RegisterMember>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "master.cshtml";
}


<section style="background-color: #f5f5f5">
    <div>
        @Html.Raw(Model.Content)
    </div>
</section>