@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.RegisterMember>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = null;
}


<section>
    <div>
        @Html.Raw(Model.Content)
    </div>
</section>