@inherits Umbraco.Web.Mvc.UmbracoViewPage<SearchContentModel>
@using Huetours.Models;
@using Huetours.ViewModels;

@{
    Layout = "master.cshtml";
}

<section id="search">
    <div class="container">
        @*<form action="/search/">
            <input type="text" name="Query" placeholder="Search........." />
            <button>Search</button>
        </form>*@
        <article>
            @Html.Partial("Partials/SearchingForm", Model.SearchingViewModel)

            <p>You search for <strong>@Model.SearchingViewModel.Query</strong> returned these results:</p>
            @if(Model.SearchResults != null && Model.SearchResults.Any())
            {
                foreach(var item in Model.SearchResults)
                {
                    <p><a href="@item.Url()">@item.Name</a></p>
                }
            }
        </article>
    </div>

</section>