@inherits Umbraco.Web.Mvc.UmbracoViewPage<SearchContentModel>
@using Huetours.Models;
@using Huetours.ViewModels;

@{
    Layout = "master.cshtml";
}

<section id="search">
    <div class="container">
        <form action="/search/">
            <input type="text" name="Query" placeholder="Search........." />
            <button>Search</button>
        </form>
        <article>
            @Html.Partial("~/Views/Partials/SearchingForm.cshtml", Model.SearchingViewModel)
        </article>
    </div>

</section>